﻿@{
    ViewData["Title"] = @Resource.IndexTitle;
}

<div class="row">
    <div class="col-md-4">
        <h2>@Resource.IndexMarc</h2>
        <ul>
            <li><a href="http://www.loc.gov/marc/marcginf.html#naa">@Resource.IndexMarcSec1</a></li>
        </ul>
        <ul>
            <li><a href="http://www.loc.gov/standards/sourcelist/index.html">@Resource.IndexMarcSec2</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>@Resource.IndexCustomerSupport</h2>
        <ul>
            <li><a href="ftp://ftp.polarislibrary.com/MARCUpdates/">@Resource.IndexCustomerSupportSec1</a></li>
        </ul>
    </div>
</div>
