﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MarcCodeEditViewTabelModel
@{
}
    @Html.Hidden("tablename", Model.TableModel.MARCCodeTable)
    @Html.Hidden("tableid", Model.TableModel.MARCCodeTableId)
    @Html.Hidden("tableindex", Model.TableIndex)

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 35%;">@Resource.TableHeaderColumn</th>
            <th>@Resource.TableHeaderValue</th>
        </tr>
    </thead>
    <tbody>
        @{ var col = 0; }
        @foreach (var column in Model.TableModel.Columns)
        {
            @Html.Hidden("codeTables[" + Model.TableIndex + "].Columns[" + col + "].Type", column.Type)
            @Html.Hidden("codeTables[" + Model.TableIndex + "].Columns[" + col + "].Name", column.Name)

            <tr>
                <td>
                    @Html.DisplayFor(model => column.Name)
                </td>
                <td>
                    @if (column.Name == "Code")
                    {
                            @Html.Hidden("codeTables[" + Model.TableIndex + "].Codes[0]", column.Value??"")

                        @Html.DropDownList("codeTables[" + Model.TableIndex + "].Columns[" + col + "].Value",
                            new SelectList(Model.TableModel.Codes),
                            string.IsNullOrEmpty(column.Value) ? Resource.DropdownSelectCodeUpdate : column.Value,
                            new { @class = "form-control",
                                @onchange = "RefreshTable($(this).val(), '" + Model.TableModel.MARCCodeTable + "', '" + Model.TableModel.MARCCodeTableId + "', '" + Model.TableIndex + "');",
                            })
                    }
                    else
                    {
                        var htmlAttr = new Dictionary<string, object>();
                        htmlAttr.Add("class", "form-control");
                        htmlAttr.Add("maxlength", column.MaxLength);
                        if (column.AllowNull)
                        {
                            htmlAttr.Add("placeholder", column.DataType);
                        }
                        else
                        {
                            htmlAttr.Add("placeholder", $"{column.DataType} (required)");
                            //htmlAttr.Add("required", "required");
                        }

                        if (column.Type == "bit")
                        {
                            htmlAttr.Add("max", 1);
                            htmlAttr.Add("min", 0);
                            htmlAttr.Add("type", "number");
                        }

                        @Html.TextBox("codeTables[" + Model.TableIndex + "].Columns[" + col + "].Value", column.Value??"", htmlAttr)
                    }
                </td>
            </tr>

            col++;
        }
    </tbody>
</table>
