﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MARCToolApp.Models.ViewModels
@model SourceCodeModel
@{
    ViewBag.Title = @Resource.ButtonAdd + " - " + Model.CodeName;
}
<div class="container">
    <form action="@Url.Action("AddWithModel", "MarcCode")" id="formAdd" method="post" enctype="multipart/form-data" target="_blank">
        @Html.Hidden("sourceCode.CodeId", Model.CodeId)
        @Html.Hidden("sourceCode.CodeName", Model.CodeName)

        <p></p>
        <div class="row">
            <h4>@ViewBag.Title</h4>
        </div>
        @if (Model.CodeTables.Count > 0)
        {
            <div class="row">
                <div class="col-sm-2" style="margin-top:0.75em;margin-bottom:0.5em;text-align:right;">@Html.Label($"{Resource.LabelNewCode}")</div>
                <div class="col-sm-2" style="margin-top:0.25em;margin-bottom:0.5em;">
                    @Html.TextBox("sourceCode.SelectedCode", Model.SelectedCode, new { @id = "txtNewCode", @placeholder = $"{Resource.LabelNewCode.ToLower()}", @class = "form-control", @autofocus = "autofocus", @maxlength = $"{Model.SelectedCodeMaxLength}", @required = "required" })
                </div>
            </div>
        }

        @for (int i = 0; i < Model.CodeTables.Count; i++)
        {
            @Html.Hidden("sourceCode.CodeTables[" + i + "].MARCCodeTable", Model.CodeTables[i].MARCCodeTable)
            @Html.Hidden("sourceCode.CodeTables[" + i + "].MARCCodeTableId", Model.CodeTables[i].MARCCodeTableId)
            @Html.Hidden("sourceCode.CodeTables[" + i + "].MARCCodeTableDisplay", Model.CodeTables[i].MARCCodeTableDisplay)

            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:transparent">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@Model.CodeTables[i].MARCCodeTable">
                        @Html.DisplayFor(model => Model.CodeTables[i].MARCCodeTable)
                    </a>
                </div>
                <div id="collapse-@Model.CodeTables[i].MARCCodeTable" class="panel-collapse collapse in">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 35%;">@Resource.TableHeaderColumn</th>
                                <th>@Resource.TableHeaderValue</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var col = 0;}
                            @foreach (var column in Model.CodeTables[i].Columns)
                            {
                                @Html.Hidden("sourceCode.CodeTables[" + i + "].Columns[" + col + "].Name", column.Name)
                                @Html.Hidden("sourceCode.CodeTables[" + i + "].Columns[" + col + "].Type", column.Type)

                                @if (!column.Hide)
                                {
                                    var htmlAttr = new Dictionary<string, object>();
                                    htmlAttr.Add("class", "form-control");
                                    htmlAttr.Add("placeholder", column.DataType);
                                    htmlAttr.Add("maxlength", column.MaxLength);
                                    if (!column.AllowNull)
                                    {
                                        htmlAttr.Add("required", "required");
                                    }
                                    if (column.Type == "bit")
                                    {
                                        htmlAttr.Add("max", 1);
                                        htmlAttr.Add("min", 0);
                                        htmlAttr.Add("type", "number");
                                    }

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => column.Name)
                                        </td>
                                        <td>
                                            @Html.TextBox("sourceCode.CodeTables[" + i + "].Columns[" + col + "].Value", column.Value, htmlAttr)
                                        </td>
                                    </tr>
                                }

                                col++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
                                }
        <div class="row">
            <div class="col-sm-6">@Html.ActionLink(Resource.FooterBackToList, "Index")</div>
            @if (Model.CodeTables.Count > 0)
            {
                <div class="col-sm-6" style="text-align:right;"><input class="btn btn-primary" type="submit" value="@Resource.ButtonGenerateScript" /></div>
            }
        </div>
    </form>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Code Added</h4>
            </div>
            <div class="modal-body">
                <p>New @ViewBag.SourceCodeName code is added to codes tables.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                document.forms[0].submit();
                return false;
            });
        });
</script>
    