﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MARCToolApp.Models.ViewModels
@model IEnumerable<TableModel>
@{
    ViewBag.Title = @Resource.ButtonDelete + " - " + ViewBag.SourceCodeName;
}
<div class="container">
    <h3>@ViewBag.Title</h3>
    <form action="@Url.Action("DeleteWithModel", "MarcCode", Model)" id="formDelete" method="post" enctype="multipart/form-data" target="_blank">
        @Html.Hidden("sourceCodeName", $"{ViewBag.SourceCodeName}")

        <div class="form-horizontal">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Resource.TableHeaderTable</th>
                        <th>@Resource.TableHeaderCode</th>
                    </tr>
                </thead>
                <tbody>
                    @{var index = 0; }
                    @foreach (var table in @Model)
                    {
                        @Html.Hidden("CodeTables[" + index+ "].MARCCodeTable", table.MARCCodeTable);
                        @Html.Hidden("CodeTables[" + index + "].Code", table.Codes[0]);

                        <tr>
                            <td>
                                @Html.DisplayFor(model => table.MARCCodeTable)
                            </td>
                            <td>
                                @Html.DropDownList("CodeTables[" + index + "].Codes[0]", new SelectList(table.Codes), Resource.DropdownSelectCodeDelete, 
                                    new { @class = "form-control" })
                            </td>
                        </tr>

                        index ++;
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">@Html.ActionLink($"{Resource.FooterBackToList}", "Index")</div>
                <div class="col-sm-6" style="text-align:right;"><input class="btn btn-primary" type="submit" value="@Resource.ButtonGenerateScript" /></div>
            </div>
        </div>
    </form>
</div>