﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MARCToolApp.Models.ViewModels
@model IEnumerable<MarcCodeEditViewTabelModel>
@{
    ViewBag.Title = @Resource.ButtonEdit + " - " + ViewBag.SourceCodeName;
}
<div class="container">
    <h3>@ViewBag.Title</h3>
    <form action="@Url.Action("EditWithModel", "MarcCode")" id="formDelete" method="post" enctype="multipart/form-data" target="_blank">
        @Html.Hidden("sourceCodeName", ViewData["SourceCodeName"])

        @{ var i = 0; }
        <div class="panel-group">
            @foreach (var table in Model)
            {
                @Html.Hidden("codeTables[" + i + "].MARCCodeTable", table.TableModel.MARCCodeTable)
                @Html.Hidden("codeTables[" + i + "].MARCCodeTableId", table.TableModel.MARCCodeTableId)
                @Html.Hidden("codeTables[" + i + "].MARCCodeTableDisplay", table.TableModel.MARCCodeTableDisplay)

                var open = i == 0 ? "in" : "";
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color:transparent">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@table.TableModel.MARCCodeTableId">@Html.DisplayFor(model => table.TableModel.MARCCodeTable)</a>
                    </div>
                    <div id="collapse-@table.TableModel.MARCCodeTableId" class="panel-collapse collapse @open">
                        @Html.Partial("_EditTable", table)
                    </div>
                </div>

                i++;
            }
        </div>
        <div class="row">
            <div class="col-sm-6">@Html.ActionLink($"{Resource.FooterBackToList}", "Index")</div>
            <div class="col-sm-6" style="text-align:right;"><input class="btn btn-primary" type="submit" value="@Resource.ButtonGenerateScript" /></div>
        </div>
        </form>
</div>

@section Scripts 
{
    <script>
        function RefreshTable(code, tablename, tableid, tableindex) {
            var div = '#collapse-' + tableid;
            var url = '@(Url.Action("GetTableValues", "MarcCode"))?code=' + code + '&tablename=' + tablename + '&tableid=' + tableid + '&tableindex=' + tableindex;
            $(div).load(url);
        }
    </script>
}