﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using MARCToolApp.Models.ViewModels
@model IEnumerable<SourceCodeModel>

@{
    ViewBag.Title = "Source Code List";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    @*<p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>*@
    <div class="panel-group" id="accordion">
        @foreach (var code in @Model)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@code.CodeId">
                            @Html.DisplayFor(model => code.CodeName)
                        </a>
                    </h4>
                </div>
                <div id="collapse-@code.CodeId" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>MARC Record Format</th>
                                    <th>TagNumber</th>
                                    <th>Subfiled</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tag in code.Tags)
                {
                                    <tr>
                                        <td>
                                            @tag.Format
                                        </td>
                                        <td>@tag.Tag </td>
                                        <td>$ @tag.Subfield</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <div class="col-md-4">
                            <a class="btn btn-default" asp-action="Add" asp-route-id="@code.CodeId"><i class="glyphicon glyphicon-plus"> @Resource.ButtonAdd</i></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default" asp-action="Edit" asp-route-id="@code.CodeId"><i class="glyphicon glyphicon-edit"> @Resource.ButtonEdit</i></a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default" asp-action="Delete" asp-route-id="@code.CodeId"><i class="glyphicon glyphicon-trash"> @Resource.ButtonDelete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Team.TeamId }) |
    @Html.ActionLink($"{Resource.FooterBackToList}", "Index")*@
</p>