﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "SQL Script Generated to " + ViewBag.SourceCodeName;

    var statement = $"FAILED TO GENERATE A SQL ALTER SCRIPT!!!";
    statement = ViewBag.SqlStatement;
}
<div class="container">
    <h4>@ViewBag.Title</h4>
    
    @Html.TextArea("Statement", @statement, 50, 1, 
        new {@class="form-control", @readonly="true", @style= "resize:none; overflow:auto;" })
</div>